In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

## Loading artiicial data

In [6]:
train_art = pd.read_csv('data/artificial_train.data', delim_whitespace=True, header=None)
test_art  = pd.read_csv('data/artificial_valid.data', delim_whitespace=True, header=None)
train_labels = pd.read_csv('data/artificial_train.labels', header=None)

In [7]:
train_art

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,490,505,503,474,463,461,519,476,518,467,...,467,479,449,588,499,506,475,463,507,501
1996,480,475,476,480,495,482,515,479,480,484,...,464,474,473,424,454,570,476,493,465,485
1997,480,517,631,470,485,474,535,476,493,466,...,501,483,479,687,488,488,483,500,523,481
1998,484,481,505,478,542,477,518,477,510,472,...,487,483,526,750,486,529,484,473,527,485
1999,474,493,469,486,521,475,494,479,481,473,...,467,476,508,449,463,533,481,489,516,516

In [8]:
test_art

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,483,454,513,495,523,469,453,477,506,479,...,455,480,543,259,413,520,485,498,523,510
1,485,508,493,487,478,472,504,476,479,475,...,486,480,535,534,514,452,484,495,548,477
2,483,521,507,475,493,486,421,475,496,483,...,491,476,498,495,508,528,486,465,508,503
3,474,504,576,480,553,483,524,478,483,483,...,521,475,470,463,509,525,479,467,552,517
4,495,474,523,479,495,488,485,476,497,478,...,510,471,522,343,509,520,475,493,506,491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,493,458,503,478,517,479,472,478,444,477,...,469,475,485,443,517,486,474,489,506,506
596,481,484,481,490,449,481,467,478,469,483,...,506,485,508,599,498,527,481,490,455,451
597,485,485,530,480,444,487,462,475,509,494,...,442,474,502,368,453,482,478,481,484,517
598,477,469,528,485,483,469,482,477,494,476,...,473,476,453,638,471,538,470,490,613,492
599,482,453,515,481,500,493,503,477,501,475,...,484,478,487,694,493,499,474,494,536,526

## Loading spam data

In [216]:
def get_spam_training_data(file, labels, sep):
    spam_train = []
    spam_train_labels = []
    with open(file, encoding='utf8') as f:
        for line in f:
            line = line.replace('"', '')
            label, text = line.split(sep=sep, maxsplit=1)
            if label not in labels:
                continue
            spam_train_labels.append(label)
            spam_train.append(text[:-1])
    cv = CountVectorizer(strip_accents='unicode')
    X = cv.fit_transform(spam_train)
    df = pd.DataFrame(X.toarray(),
                      columns=cv.get_feature_names_out())
    return df, spam_train_labels, cv

def get_spam_test_data(file, cv):
    spam_test = []
    with open(file, encoding='utf8') as f:
        for line in f:
            line = line.replace('"', '')
            spam_test.append(line)
    spam_test.pop(0)
    X = cv.transform(spam_test)
    df = pd.DataFrame(X.toarray(),
                  columns=cv.get_feature_names_out())
    return df

In [217]:
train_spam, labels_train_spam, cv_train = get_spam_training_data('data/sms_train.csv', ['0', '1'], ',')

In [218]:
train_spam # I can't get below 7900 features, in task description it's 7879 but I'm out of ideas

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,02,0207,...,zebra,zed,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,ã€¨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

I am also loading the sms.tsv file, although I'm not sure if it should be used in the project, as it's notdescribed in the task description.

In [185]:
tsv_spam, labels_tsv_spam, _ = get_spam_training_data('data/sms.tsv', ['ham', 'spam'], '\t')
labels_tsv_spam = ['0' if tx == 'ham' else '1' for tx in labels_tsv_spam]

## Loading test spam data

In [210]:
test_spam = get_spam_test_data('data/sms_test.csv', cv_train)

In [219]:
test_spam

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,02,0207,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,Ã¨n,Ãº1,ã€¨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0